@font-face {
    font-family: annonce;
    src: url(../fonts/annonce_w01_regular-webfont.woff);
}

@font-face {
    font-family: textanArrow;
    src: url(../fonts/textanarrow-regular-webfont.woff);
}

@font-face {
    font-family: textanArrowIt;
    src: url(../fonts/textanarrow-it-webfont.woff);
}

a {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

a:hover {
    color: #014421;
    text-decoration: none;
}

img {
    margin: 0 auto;
}

.navbar-brand-new {
    font-family: 'annonce', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #5E300E;
}

.nav-link-new {
    font-family: 'textanArrow', Arial, Helvetica, sans-serif;
    font-size: .7rem;
    color: #5E300E;
}

.nav-link-new-2 {
    font-family: 'textanArrow', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #5E300E;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: .25rem;
}

.dropdown-menu.show {
    display: block;
    margin-top: -30px;
}

.dropdown-item {
    font-family: 'textanArrowIt', Arial, Helvetica, sans-serif;
    font-size: .7rem;
    color: #5E300E;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #014421 !important;
    background: none !important;
}

.nav-pad {
    padding: 15px 0;
}

.center-page {
    margin-top: 30%;
}

.navbar-light .navbar-toggler {
    color: #5E300E !important;
    border: none !important;
}

.slideshow-bump {
    margin-top: 25px;
}

@media (min-width: 576px) {}

@media (max-width: 768px) {
    /* hides the desktop nav */
    .hide-for-mobile {
        display: none;
    }
    .dropdown-item {
        font-family: 'textanArrowIt', Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: #5E300E;
    }
    .dropdown-menu.show {
        display: block;
        margin-top: -10px;
    }
    .nav-link-new {
        font-family: 'textanArrow', Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: #5E300E;
    }
    .nav-link-new-active {
        font-family: 'textanArrow', Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: #014421;
    }
}

@media (min-width: 768px) {
    /* hides the desktop nav */
    .show-for-mobile {
        display: none;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}